<%= form_with model: @card, class: "grid grid-cols-1 gap-y-6" do |form| %>

<div>
<%= form.label :name, class:"text-sm font-semibold" %>
<%= form.text_field :name, class:"mt-2 w-full border-0 ring-1 ring-gray-400 rounded-sm px-3 py-1.5" %>
</div>

<div>
<%= form.label :company, class:"text-sm font-semibold" %>
<%= form.text_field :company, class:"mt-2 w-full border-0 ring-1 ring-gray-400 rounded-sm px-3 py-1.5" %>
</div>

<div>
<%= form.label :position, class:"text-sm font-semibold" %>
<%= form.text_field :position, class:"mt-2 w-full border-0 ring-1 ring-gray-400 rounded-sm px-3 py-1.5" %>
</div>

<div>
<%= form.label :phone, class:"text-sm font-semibold" %>
<%= form.text_field :phone, class:"mt-2 w-full border-0 ring-1 ring-gray-400 rounded-sm px-3 py-1.5" %>
</div>

<div>
<%= form.label :email, class:"text-sm font-semibold" %>
<%= form.text_field :email, class:"mt-2 w-full border-0 ring-1 ring-gray-400 rounded-sm px-3 py-1.5" %>
</div>

<div>
<%= form.label :image_url, class:"text-sm font-semibold" %>
<%= form.text_field :image_url, class:"mt-2 w-full border-0 ring-1 ring-gray-400 rounded-sm px-3 py-1.5" %>
</div>

<div class="py-4">
    <%= form.submit class: "px-2 py-2 bg-indigo-600 text-white rounded-sm" %>
</div>

<% end %>