<div class= "flex justify-between items-center">
<h1 class="text-4xl font-semibold ">Bussisness card creator</h1>
<%= link_to "New card", new_card_path, class: "px-2 py-2 bg-indigo-600 text-white rounded-sm" %>
</div>

<div class=" block ">
<% @cards.each do |card| %>
    <section class="mt-6 max-w-md p-6 bg-white border border-gray-200 rounded-lg shadow-sm grid grid-cols-2">
        <div class="justify-center">
        <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"> <%= card.name %> </h1>
        <p><%= card.position %></p>
        <p><%= card.company %></p>
        <p><%= card.phone %></p>
        <p><%= card.email %></p>
        </div>

        <div>
        <%= image_tag card.image_url %>    
        </div> 
    </section>

<%end%>
<div>